<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          After I graduated from Stony Brook University with Applied Mathematics
          and Economic degrees, I joined the Asian American Federation, a
          non-profit organization. Part of my job there was to help small
          business owners building their business sites. Through my time there,
          I learned some basic HTML and CSS, also realized technology is very
          powerful that most small businesses in NYC cannot survive without it.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          I spent some time studying basic HTML/CSS with free online resources
          and built my first personal site. Short after that, I decided to join
          App Academy, a 12 weeks intensive full-stack software engineer
          program, which had sharpened my skills in Ruby, Rails, JavaScript,
          React, Redux, HTML and CSS.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a
          href="https://docs.google.com/document/d/1Yj4qvzRQbE4kHf7KBDLqyhrp7l5u1mJgILrtrwrsqlY/export?format=pdf"
          class="btn btn-lg btn-outline"
        >
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
